rdflib
asn1crypto==0.24.0
Automat==0.6.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
constantly==15.1.0
cryptography==2.2.2
cssselect==1.0.3
cycler==0.10.0
Cython==0.28.4
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
kiwisolver==1.0.1
lxml==4.2.1
matplotlib==2.2.2
namedentities==1.9.4
nltk==3.3
numpy==1.14.5
pandas==0.22.0
parsel==1.4.0
pdfminer.six==20170720
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
pycryptodome==3.6.1
PyDispatcher==2.0.5
pyOpenSSL==17.5.0
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.4
queuelib==1.5.0
requests==2.18.4
scikit-learn==0.19.1
scipy==1.0.1
selenium==3.11.0
service-identity==17.0.0
six==1.11.0
Twisted==17.9.0
urllib3==1.26.5
w3lib==1.19.0
zope.interface==4.4.3
scrapy==1.5.1
wordcloud==1.4.1
pysofia==0.9
pyltr==0.2.4
